{% extends "base.html" %}

{% block content %}
    <h1>Retorno:</h1>

    {% if tipo %}
        <section class="tabela">
            {% for processo in processos %}
            <div>
                <span class="coluna">
                    {{ processo[0] }}
                </span>
                <span class="coluna">
                    {{ processo[1] }}
                </span>
            </div>
            {% endfor %}
        </section>
    {% else %}
        <h1> {{ processos }} </h1>
    {% endif %}

{% endblock %}